body {
  font-family: Verdana,Arial,Helvetica,Geneva,sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
  background: #fefefe;
  color: #111;
  padding: 0;
  margin: 1em;
}

p {
  margin: 0.5em 0;
}

blockquote, q {
  background: #f0f0f0;
  border-left: 2px solid #e3e3e3;
  clear: both;
  font-style: italic;
  margin: 0.5em 0;
  padding: 5px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul li {
  padding: 0;
  margin: 0.5em 0 1.5em 0;
}

a, a:active, a:hover, a:visited {
  color: #111;
  text-decoration: none;
}

a {
  background: linear-gradient(to bottom,transparent 0,transparent 80%,#fcd400 80%,#fcd400 100%);
  border-bottom: 2px #fcd400 solid;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.0rem;
}

h3 {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.6rem;
}
