body {
    background: #f1f1f1;
    color: #323232;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
}

a, a:active, a:hover, a:visited {
  color: #111;
  text-decoration: none;
}

a {
  background: linear-gradient(to bottom,transparent 0,transparent 80%,#fcd400 80%,#fcd400 100%);
  border-bottom: 2px #fcd400 solid;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}


h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

@media screen and (min-width: 1024px) {
  h1 {
    margin: 0 0 13px;
  }
}

p {
  font-size: 16px;
  line-height: 22px;
  margin: 0.5em 0;
}

@media screen and (min-width: 1024px) {
  p {
    font-size: 16px;
    line-height: 23px;
  }
}

@media screen and (min-width: 600px) {
  p {
    font-size: 18px;
    line-height: 27px;
  }
}
